header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 4.75em;
  background-color: #000;
}

.logo {
  text-decoration: none;
  font-size: 1.875rem;
  color: #FFF;
  font-weight: bold;

  span {
    color: greenyellow;
    display: inline-block;
    animation: animacaoLogo 3s;
  }


}

@keyframes animacaoLogo {

  0% {
    transform: rotateX(180deg);
  }
  100%{
    transform: rotateX(0deg);
  }


  
}

.search {
  display: flex;
  justify-content: center;

  input {
    background: transparent;
    border: none;
    width: 30rem;
    border-radius: 10rem;
    height: 2.5rem;
    background-color: rgb(227, 222, 222);
    padding: 1rem;
    font-size: 1rem;
    font-weight: 500;
    outline: none;
    transition: 1s;

    &:focus {
      background-color: white;

    }
  }
}

.favorite {
  cursor: pointer;
  padding: 0.3em 0.875em;
  color: white;
  border-radius: 0.3em;
  font-size: 1.7rem;

  text-decoration: none;
}

.sideBar {
  height: 100px;
  display: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  background-color: #1A202c;
  box-shadow: 0 0 20px 3px;


}