.movieCard {
  margin: 0 auto;
  margin-top: 1.5em;
  display: flex;
  flex-direction: column;
  max-width: 50em;
  padding: 0 0.5em;

  h1 {
    margin: 1em 0;
    color: white;
  }

  .grade{
    color: #32cf06;
    margin-top: 2em;
  }

  img {
    border-radius: 8px;
    width: 50em;
    max-width: 100%;
    max-height: 21em;
    object-fit: cover;
  }

  h3 {
    margin: 1.5em 0 0.5em 0;
    color: #32cf06
  }

  span {
    margin: 0.4em 0;
    color: white;
  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 12px;
    margin-top: 14px;
    font-size: 1rem;
    outline: none;
    padding: 0.8em;

    .save {
      padding: 1em;
      border-radius: 1rem 0 0 1rem;
      border: none;
      
    }
    
    .trailer {
      padding: 1em;
      border-radius: 0 1em 1em 0;
      border: none;
    }
    
    button {
      transition: all 0.3s;
      cursor: pointer;
      margin-left: 0.3em;
      width: 100px;
      // &:Hover {
      //   background-color: #32cf06;
      //   color: white;
      // }
      a {
        text-decoration: none;
        color: black;
        cursor: pointer;
      }
      &:Hover {
        background-color: #32cf06;
        color: white;
        a {
          color: white;
        }
      }
    }
  }
}

